.WebResourceIsBig {
  color: var(--web-resource-is-big-color) !important;

  & > td {
    color: inherit;

    & * {
      color: inherit;
    }
  }
}

.WebResourceIsUnused {
  color: var(--web-resource-is-unused-color) !important;

  & > td {
    color: inherit;

    & * {
      color: inherit;
    }
  }
}
