.CellWrapper {
  border-left: 1px solid var(--border-color);
  height: 21px;
  padding: 0 4px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:first-child {
    border-left: none;
  }
}
