.Header {
  border-left: 1px solid var(--border-color);
  height: 21px;
  background-color: var(--table-header-bg);
  vertical-align: middle;
  text-align: left;
  font-weight: 400;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 4px;

  &:first-child {
    border-left: none;
  }
}
