.Row {
  background-color: var(--table-row-odd-color);
  white-space: nowrap;

  &.RowEmpty {
    background-color: var(--background-color);
    & > td {
      height: auto;
    }
  }
}

.RowEven {
  background-color: var(--table-row-even-color);
}

.RowOdd {
  background-color: var(--table-row-odd-color);
}
