.SelectableRow {
  &:not(:last-child):not(.RowSelected):hover > td {
    background-color: var(--table-row-hover);
  }
}

.RowSelected {
  & > td {
    background-color: var(--base-selected);
    color: white !important;

    & * {
      color: white !important;
    }
  }
}
