.SortableHeader {
  &:hover {
    background-color: var(--table-header-bg-hover);
  }
}

.HeaderWrapper {
  display: inline-flex;
  width: 100%;
  align-items: center;
  height: 21px;
}

.IconSortDown,
.IconSortUp {
  width: 10px;
  height: 10px;

  background-color: rgb(110, 110, 110);
  margin-left: auto;
  margin-right: 4px;

  display: block;

  mask-image: url('../Icon/smallIcons.svg');
  -webkit-mask-image: url('../Icon/smallIcons.svg');

  mask-position: var(--spritesheet-position);
  -webkit-mask-position: var(--spritesheet-position);
}

.IconSortDown {
  --spritesheet-position: -80px 30px;
}

.IconSortUp {
  --spritesheet-position: -20px 10px;
}
