.Table {
  border-spacing: 0;
  border-collapse: separate;
  width: 100%;
  color: var(--base-color);
  table-layout: fixed;
}

//.TableWrapper {
//  display: flex;
//  flex: 1;
//  overflow: auto;
//}
