.VirtualizedRows {
  display: flex;
  flex: 1;
  overflow: auto;
  width: 100%;
  height: 100%;
  will-change: transform;
  position: relative;
}

.InnerWrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 100%;
}

.Table {
  min-height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  overflow: hidden;
}

.FakeRow {
  td {
    height: auto;
  }
}
