.DropZone {
  border: 4px dashed var(--border-color);
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 12px;
  cursor: pointer;
  transition: all 300ms ease-in-out;

  &:active {
    border-color: var(--base-selected);
    background-color: var(--highlight-color-passive);
  }

  &:hover {
    border-color: var(--border-color-secondary);
    background-color: var(--background-color-secondary);
  }
}

.DropZoneActive {
  &,
  &:focus,
  &:hover {
    border-color: var(--base-selected);
    background-color: var(--highlight-color-passive);
  }
}

.DropZoneInner {
  display: flex;
  flex: 1;
  justify-content: center;
}
