@import '../../DevtoolsPanelApp/variables.css';

.ToolbarButton {
  position: relative;
  color: var(--base-color);
  background-color: transparent;
  padding: 0;
  height: var(--toolbar-height);
  border: none;

  white-space: nowrap;
  overflow: hidden;
  min-width: 28px;
  border-radius: 0;

  &:disabled {
    opacity: 50%;
    cursor: not-allowed;
  }

  &:not(:disabled):hover {
    cursor: pointer;
    color: var(--base-color-secondary);
  }

  &:focus:active::after {
    position: absolute;
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 2px;
    content: '';
  }
}
