@import '../../DevtoolsPanelApp/variables.css';

.Toolbar {
  --toolbar-border-size: 1px;

  position: relative;
  white-space: nowrap;
  height: calc(var(--toolbar-height) + var(--toolbar-border-size));
  overflow: hidden;
  display: flex;
  flex: none;
  align-items: center;
  border-bottom: var(--border-base);
  background-color: var(--background-color-secondary);
  color: var(--base-color-secondary);
  column-gap: 2px;
}
