<style>
  html,
  body {
    font-size: 14px;
    line-height: 1.5;
    min-width: 350px;
    min-height: 40px;
    margin: 8px;
    font-family: '.SFNSDisplay-Regular', 'Helvetica Neue', 'Lucida Grande', sans-serif;

    background-color: var(--bg, #fff);
    color: var(--color-text, #222);
  }

  heading,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--color-heading, rgb(51, 51, 51));
  }

  a {
    color: var(--color-link, rgb(0, 136, 255));
  }

  img {
    max-width: 100%;
  }

  @media screen and (prefers-color-scheme: dark) {
    html {
      --bg: rgb(34, 34, 34);
      --color-heading: rgb(232, 234, 237);
      --color-text: rgb(182, 185, 185);
      --color-link: rgb(0, 136, 255);
    }
  }
</style>

<p>Open the Browser DevTools and select the <strong>ABD</strong> tab to start using <strong>Atlassian Browser DevTools</strong>.</p>
<p>
  <a href="/abd_onboarding.html" target="_blank">Learn more on how to use the <strong>ABD</strong> extension</a>.
</p>

<p>
  Found an issue or a bug?
  <a href="https://ecosystem.atlassian.net/secure/CreateIssue.jspa?issuetype=10006&pid=28449" target="_blank" rel="noreferrer nofollow">
    Report a problem</a
  >
</p>
