@import '../../DevtoolsPanelApp/variables.css';

.ToolbarToggleButton {
  position: relative;
  background-color: transparent;
  height: var(--toolbar-height);
  white-space: nowrap;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 5px;

  input:disabled {
    cursor: inherit;
  }

  &--Disabled {
    cursor: not-allowed;
    opacity: 50%;
  }

  &:not(&--Disabled):hover {
    color: var(--base-color-secondary-hightlight);
  }

  .Label {
    margin-left: 3px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
