.Icon {
  width: 14px;
  height: 14px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  mask-image: url('./smallIcons.svg');
  -webkit-mask-image: url('./smallIcons.svg');

  mask-position: var(--spritesheet-position);
  -webkit-mask-position: var(--spritesheet-position);

  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100%;
  background-color: var(--icon-color);
}

.ExperimentIcon {
  display: inline-flex;
  margin-left: 3px;

  -webkit-mask-position: center;

  mask-image: url('./ic_preview_feature.svg');
  -webkit-mask-image: url('./ic_preview_feature.svg');
}
