.ConfirmationDialog {
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05), 0 2px 4px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.1);
  border: 0;
  max-width: 550px;
  min-width: 300px;
  width: 80vw;
  color: var(--base-color);
  background: var(--background-color-secondary);

  user-select: none;
  -moz-user-select: none;

  p {
    font-size: 13px;
    line-height: 1.2;
  }

  &::backdrop {
    background: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(0.75px);
  }
}

.Buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.Button {
  color: var(--legacy-accent-fg-color);
  background-color: var(--color-background-elevation-0);
  padding: 4px 12px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;

  &:not(:disabled):focus,
  &:not(:disabled):hover,
  &:not(:disabled):active {
    background-color: var(--color-background-elevation-2);
    cursor: pointer;
  }

  &:focus {
    box-shadow: 0 1px 2px var(--divider-line), 0 0 0 2px var(--color-primary-variant);
    outline: 0;
  }

  &:disabled {
    opacity: 38%;
  }

  &--Primary {
    color: #fff;
    background-color: var(--legacy-accent-color);

    &:not(:disabled):focus,
    &:not(:disabled):hover,
    &:not(:disabled):active {
      --override-text-button-color: #fff;
      background-color: var(--legacy-accent-color-hover);
      color: var(--override-text-button-color);
    }
  }
}
