.SidebarActionItem {
  --icon-color: var(--base-color-secondary);

  position: relative;
  display: flex;
  align-items: center;
  min-height: 20px;
  color: var(--base-color-secondary);

  &.Active {
    --icon-color: var(--base-color-secondary-selected-passive);

    background-color: var(--base-selected-passive);
    color: var(--base-color-secondary-selected-passive);

    &:focus {
      --icon-color: var(--base-color-secondary-selected);

      background-color: var(--base-selected);
      color: var(--base-color-secondary-selected);
    }
  }

  &--Label {
    overflow: hidden;
    display: flex;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 4px;
  }
}
