.HelpDialog {
  &--VersionNumber {
    padding: 2px 5px;
    border: 1px solid var(--border-color);
    background: var(--background-color-secondary);
    border-radius: 3px;
    margin: 3px 0;

    user-select: text;
    -moz-ser-select: text;
  }

  &--Header,
  &--Version {
    text-align: center;
  }

  &--Logo {
    margin: 20px auto;
    display: block;
  }
}
