.ToolbarItem {
  position: relative;
  display: flex;
  background-color: transparent;
  flex: none;
  align-items: center;
  justify-content: center;
  height: var(--toolbar-height);
  border: none;
  padding: 0 5px;
}
