.ConsoleMessage {
  &Wrapper {
    display: flex;
    border-bottom: var(--border-secondary);
  }

  &Warning,
  &Error {
    margin-top: -1px;
  }

  &Warning {
    border-top: 1px solid var(--warning-border-color);
    border-bottom: 1px solid var(--warning-border-color);
    background-color: var(--warning-background-color);
    color: var(--warning-text-color);
  }

  &Error {
    border-top: 1px solid var(--error-border-color);
    border-bottom: 1px solid var(--error-border-color);
    background-color: var(--error-background-color);
    color: var(--error-text-color);
  }

  &Row {
    clear: right;
    position: relative;
    padding: 3px 0 1px 0;
    margin-left: 8px;
    margin-right: 8px;
    min-height: 18px;
    flex: auto;
    display: flex;
  }

  &Text {
    flex: 1;
    user-select: text;
    -moz-user-select: text;
  }
}

.ConsoleTimestamp {
  color: var(--message-anchor);
  margin-right: 5px;
}

.ConsoleAnchor {
  text-align: right;
  max-width: 100%;
  margin-left: 10px;

  a {
    color: var(--message-anchor);
    cursor: pointer;
    word-break: break-all;
    text-decoration: underline;

    &:hover {
      color: var(--message-anchor-hover);
    }
  }
}
