.Console {
  padding: 0;
  margin: 0;
  flex: auto;
  display: flex;
  justify-content: center;
  overflow: auto;
}

.ConsoleOutput {
  flex: auto;
  font-size: 11px !important;
  font-family: Menlo, monospace;
}
