.ToolbarField {
  height: 19px;
  padding: 4px 3px 3px 3px;
  font-size: 12px;
  margin: 1px 0;
  background-color: var(--background-color);
  color: var(--base-color);
  border: solid 1px transparent;
  border-radius: 2px;
  min-width: 35px;
  flex: 1;

  &:disabled {
    cursor: not-allowed;
    opacity: 50%;
  }

  &:not(:disabled):hover {
    box-shadow: var(--focus-inactive);
  }

  &:not(:disabled):focus {
    box-shadow: var(--focus-active);
  }
}

.ToolbarFieldWrapper {
  flex-grow: 0.2;
  flex-shrink: 1;
}
