@import '../../DevtoolsPanelApp/variables.css';

// TODO: Extract that
.darkmode(@rules) {
  :global :root.darkmode :local(&) {
    @rules();
  }
}

.Tabs {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.TabLabels {
  background: var(--background-color-secondary);
  border-bottom: var(--border-secondary);
}

.TabLabel {
  padding: 2px 9px;
  margin: 0;
  border: 0;
  background: transparent;
  color: var(--toolbar-color);
  border-bottom: 2px solid transparent;
  height: calc(var(--toolbar-height) - 1px);
  line-height: 15px;
  font-size: 12px;

  &:hover:not(.TabLabelActive) {
    color: var(--toolbar-color-hover);
    background-color: var(--toolbar-background-hover);
  }
}

.TabLabelActive {
  border-bottom-color: var(--toolbar-border-bottom-active);
  color: var(--toolbar-color-selected);
  background-color: var(--toolbar-background-selected);
  height: var(--toolbar-height);
  margin: 0 0 -1px;

  .darkmode({
    border-bottom: 0;
    height: calc(var(--toolbar-height) - 1px);
  });
}

.TabContent {
  background: var(--background-color);
  overflow: auto;
  display: block;
  flex: 1;
}
