body {
  background-color: var(--bg, rgb(255, 255, 255));
  color: var(--color-text, rgb(34, 34, 34));

  font-size: 1rem;
  line-height: 1.5;
  max-width: 1000px;
  margin: 20px auto;
}

heading,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-heading, rgb(51, 51, 51));
}

a {
  color: var(--color-link, rgb(0, 136, 255));
}

img {
  max-width: 100%;
}

@media screen and (prefers-color-scheme: dark) {
  html {
    --bg: #222;
    --color-heading: rgb(232, 234, 237);
    --color-text: rgb(182, 185, 185);
    --color-link: rgb(0, 136, 255);
  }
}
