.DependencyTree {
  padding: 12px;

  p {
    margin: 0 0 12px;
  }

  ul {
    margin: 0;
  }

  ul li + li {
    margin-top: 6px;
  }

  code {
    font-weight: 500;
    user-select: text;
    -moz-user-select: text;
  }
}
