.WebResourcesGroup {
  display: flex;
  flex-wrap: wrap;
  column-gap: 8px;
  align-items: baseline;
  justify-content: flex-start;

  .WebResourceLabel {
    display: block;
    white-space: pre;
  }
}
