.ToolbarDropdown {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 3px;

  select {
    color: var(--base-color-secondary);
    font-size: 12px;
    min-width: 50px;
    appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    padding: 0 13px 0 5px;
    margin-right: -10px;
    position: relative;
    height: 22px;
    margin-top: 2px;
    margin-bottom: 2px;
    background: transparent;

    &:disabled {
      opacity: 50%;
      cursor: not-allowed;
    }
  }
}

.DropdownArrow {
  --spritesheet-position: -80px 30px;
  width: 10px;
  height: 10px;

  background-color: rgb(110, 110, 110);
  margin-left: -5px;

  display: block;

  mask-image: url('../Icon/smallIcons.svg');
  -webkit-mask-image: url('../Icon/smallIcons.svg');

  mask-position: var(--spritesheet-position);
  -webkit-mask-position: var(--spritesheet-position);
}
