.DeprecationMessage {
}

.NodeIsHighlighted {
  .InspectorWrapper {
    background-color: rgba(var(--base-selected), 0.1);
  }
}

.InspectorWrapper {
  padding: 3px;
  display: inline-block;
  user-select: none;
  -moz-user-select: none;
}
