.ToolbarIconButton {
  display: block;

  mask-image: url('../ToolbarIconButton/largeIcons.png');
  -webkit-mask-image: -webkit-image-set(url('../ToolbarIconButton/largeIcons.png') 1x, url('../ToolbarIconButton/largeIcons_2x.png') 2x);

  mask-position: var(--spritesheet-position);
  -webkit-mask-position: var(--spritesheet-position);

  background-color: rgb(110, 110, 110);

  width: 24px;
  height: 28px;

  &--Disabled {
    cursor: not-allowed;
  }

  &:not(&Disabled):hover {
    background-color: var(--base-color-secondary-hightlight);
  }

  &:enabled:hover:not(:active) {
    background-color: var(--base-color-secondary-hightlight);
  }
}

.ClearIcon {
  --spritesheet-position: 0px 144px;
}
.FormatCode {
  --spritesheet-position: -56px 48px;
}

.RecordIcon {
  --spritesheet-position: -168px 48px;
}

.RecordingIcon {
  --spritesheet-position: -84px 24px;
  background-color: var(--color-accent-red) !important;
}

.ExportIcon {
  --spritesheet-position: -196px -72px;
}
