/* Dark mode scrollbar styling overrides */

:root.darkmode ::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

:root.darkmode ::-webkit-scrollbar-track {
  box-shadow: inset 0 0 1px rgb(255 255 255 / 30%); /* stylelint-disable-line plugin/use_theme_colors */
  /* See: crbug.com/1152736 for color variable migration. */
  background: rgb(36, 36, 36); /* stylelint-disable-line plugin/use_theme_colors */
  /* See: crbug.com/1152736 for color variable migration. */
}

:root.darkmode ::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: var(--color-scrollbar-mac);
  box-shadow: inset 0 0 1px rgb(255 255 255 / 50%); /* stylelint-disable-line plugin/use_theme_colors */
  /* See: crbug.com/1152736 for color variable migration. */
}

:root.darkmode ::-webkit-scrollbar-corner {
  background-color: #242424; /* stylelint-disable-line plugin/use_theme_colors */
  /* See: crbug.com/1152736 for color variable migration. */
}
