@import './variables.css';

:root {
  --legacy-accent-color: #0e639c;
  --legacy-accent-color-hover: #3b86e8;
  --color-background: rgb(255 255 255);
  --color-primary: rgb(26, 115, 232);
  --color-primary-variant: rgb(66 133 244);
  --divider-line: rgb(0 0 0 / 10%);
  --color-background-elevation-0: rgb(248 249 249);
  --color-background-elevation-1: rgb(241 243 244);
  --color-background-elevation-2: rgb(222 225 230);

  --accent-color: var(--color-primary);
  --highlight-color-passive: rgb(224, 224, 224);
  --background-color: rgb(255, 255, 255);
  --background-color-secondary: rgb(243, 243, 243);
  --border-color: rgb(205, 205, 205);
  --border-color-secondary: rgb(208, 208, 208);
  --base-color: rgb(48, 57, 66);
  --base-color-secondary: rgb(90, 90, 90);
  --base-color-secondary-hightlight: rgb(51, 51, 51);
  --base-color-secondary-selected: rgb(255, 255, 255);
  --base-color-secondary-selected-passive: rgb(90, 90, 90);
  --base-selected-passive: rgb(218, 218, 218);
  --color-accent-red: rgb(217, 48, 37);

  --message-anchor: rgb(84, 84, 84);
  --message-anchor-hover: rgb(38, 38, 38);
  --error-background-color: hsl(0, 100%, 97%);
  --error-border-color: hsl(0, 100%, 92%);
  --error-text-color: #f00;
  --warning-background-color: hsl(50, 100%, 95%);
  --warning-border-color: hsl(50, 100%, 88%);
  --warning-text-color: hsl(39, 100%, 18%);

  --table-row-odd-color: rgb(255, 255, 255);
  --table-row-even-color: rgb(245, 245, 245);
  --table-header-bg: rgb(243, 243, 243);
  --table-header-bg-hover: rgb(230, 230, 230);
  --table-row-hover: rgb(242, 247, 253);

  --toolbar-background-hover: rgb(234, 234, 234);
  --toolbar-background-selected: rgb(243, 243, 243);
  --toolbar-color-selected: rgb(51, 51, 51);
  --toolbar-color-hover: rgb(51, 51, 51);
  --toolbar-color: var(--base-color-secondary);
  --toolbar-border-bottom-active: var(--color-primary);

  /** These are the colors of the native Mac scrollbars */
  --color-scrollbar-mac: hsla(0, 0%, 56%, 0.6);
  --color-scrollbar-mac-hover: hsla(0, 0%, 25%, 0.6);
}

.platform-linux {
  --base-color: rgb(48, 57, 66);
}

.platform-windows {
  --base-color: #222;
}

:root.darkmode {
  --legacy-accent-color: rgb(26, 115, 232);
  --legacy-accent-color-hover: rgb(59, 134, 232);
  --color-background: rgb(32 33 36);
  --divider-line: rgb(255 255 255 / 10%);
  --color-background-elevation-0: rgb(32 32 35);
  --color-background-elevation-1: rgb(41 42 45);
  --color-background-elevation-2: rgb(53 54 58);

  --color-primary: rgb(138, 180, 248);
  --color-primary-variant: rgb(102 157 246);
  --accent-color: rgb(14, 99, 156);
  --highlight-color-passive: rgb(90, 90, 90);
  --background-color: rgb(32, 33, 36);
  --background-color-secondary: rgb(41, 42, 45);
  --border-color: rgb(61, 61, 61);
  --border-color-secondary: rgb(82, 82, 82);
  --base-color: rgb(189, 198, 207);
  --base-color-secondary: rgb(165, 165, 165);
  --base-color-secondary-hightlight: rgb(204, 204, 204);
  --base-color-secondary-selected: rgb(205, 205, 205);
  --base-color-secondary-selected-passive: rgb(205, 205, 205);
  --base-selected-passive: rgb(71, 71, 71);
  --color-accent-red: rgb(242, 139, 130);

  --message-anchor: rgb(171, 171, 171);
  --message-anchor-hover: rgb(211, 211, 211);
  --error-background-color: hsl(0, 100%, 8%);
  --error-border-color: rgb(92, 0, 0);
  --error-text-color: hsl(0, 100%, 75%);
  --warning-background-color: hsl(50, 100%, 10%);
  --warning-border-color: rgb(102, 85, 0);
  --warning-text-color: rgb(255, 221, 158);

  --table-row-odd-color: rgb(41, 41, 41);
  --table-row-even-color: rgb(36, 36, 36);
  --table-header-bg: rgb(41, 42, 45);
  --table-header-bg-hover: rgb(48, 48, 48);
  --table-row-hover: rgb(24, 36, 56);

  --toolbar-background-hover: rgb(32, 32, 32);
  --toolbar-background-selected: rgb(32, 32, 32);
  --toolbar-color-selected: rgb(234, 234, 234);
  --toolbar-color-hover: rgb(204, 204, 204);
  --toolbar-color: var(--base-color-secondary);
  --toolbar-border-bottom-active: var(--border-color-secondary);

  --color-scrollbar-mac: #333;
  --color-scrollbar-mac-hover: #4b4c4f;
}

.darkmode input[type='checkbox'],
.darkmode .invert-when-dark {
  filter: invert(80%);
}

:root {
  /* Shared */
  --color-link: var(--color-primary);
  --border-base: 1px solid var(--border-color);
  --border-secondary: 1px solid var(--border-color-secondary);
  --focus-inactive: 0 0 0 1px var(--highlight-color-passive);
  --focus-active: 0 0 0 1px var(--accent-color);
  --base-selected: var(--accent-color);

  /* WebResource */
  --web-resource-is-big-color: rgb(255, 171, 0);
  --web-resource-is-unused-color: var(--color-accent-red);
}

html {
  overflow: hidden;
  min-height: 10vh;
}

body {
  margin: 0;
  padding: 0;
  font-family: '.SFNSDisplay-Regular', 'Helvetica Neue', 'Lucida Grande', sans-serif;
  font-size: 12px;
  tab-size: 4;
  user-select: none;
  -moz-user-select: none;
  color: var(--base-color);
  background: var(--background-color);
}

#root {
  display: flex;
  flex: auto;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

* {
  box-sizing: border-box;
}

:focus {
  /*outline: none;*/
}

img {
  -webkit-user-drag: none;
}

.platform-linux {
  color: rgb(48, 57, 66);
  font-family: Roboto, Ubuntu, Arial, sans-serif;
}

.platform-mac {
  color: rgb(48, 57, 66);
  font-family: '.SFNSDisplay-Regular', 'Helvetica Neue', 'Lucida Grande', sans-serif;
}

.platform-windows {
  font-family: 'Segoe UI', Tahoma, sans-serif;
}
