@import '../../DevtoolsPanelApp/variables.css';

.WebResourceWithCoveragePanel {
  flex: none;
  border-top: var(--border-secondary);
  justify-content: flex-start;
  overflow: auto;
  min-height: var(--panel-min-height);
}
