.WebResourceWithCoverageInfo {
  padding: 12px;

  code {
    display: inline-block;
  }

  dl {
    display: grid;
    grid-template-columns: minmax(150px, auto);
    align-items: baseline;
    margin: 0;
    row-gap: 12px;
    line-height: 1.2;

    dt {
      color: var(--base-color-secondary);
      font-weight: bold;
      grid-column: 1;
      text-align: right;
      margin: 0;
      margin-right: 12px;
    }

    dd {
      color: var(--base-color);
      margin: 0;
      grid-column: 2;
      white-space: normal;
      word-break: break-all;

      user-select: text;
      -moz-user-select: text;
    }
  }
}
