.Sidebar {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  background-color: var(--background-color-secondary);

  .SidebarActionsList {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.SidebarActionItem {
  padding-left: 12px;

  &:first-child {
    margin-top: 4px;
  }
}
